{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}Dirección de Investigación | Universidad Nacional de Ingeniería{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center text-center">

        <!-- main start -->
        <!-- ================ -->
        <div class="main col-lg-6 pv-40">
            <h1 class="page-title extra-large"><span>404</span></h1>
            <h2 class="mt-4">Pagina No Encontrada</h2>
            <p class="lead">La URL solicitada no se encuentra en el servidor. Asegurese que la URL este bien escrita o tenga el formato correcto.</p>
            <a href="/" class="btn btn-default btn-animated btn-lg">Retornar al principio <i class="fa fa-home"></i></a>
        </div>
        <!-- main end -->

    </div>
</div>
{% endblock content %}

{% block script %}

{% endblock script %}
