{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}Dirección de Investigación | Universidad Nacional de Ingeniería{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="breadcrumb-container breadcrumb-color">
  <div class="container ">
    <ol class="breadcrumb">
      <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="{% url 'index.index' %}">Inicio</a></li>
      <li><a class="link-dark" href="#">Otros</a></li>
      <li class="active">Historia </li>
    </ol>
  </div>
</div>
<div id="collapseMap" class="banner">
  <!-- google map start -->
  <!-- ================ -->
  <div id="map-canvas"></div>
  <!-- google maps end -->
</div>
<section class="main-container">

  <div class="container">
    <div class="row">
      <div class="main col-md-8">
        <h1 class="page-title text-center">Historia</h1>
        <div class="separator-2"></div>
        <div class="article-PROITIC">
            {{ about.history | safe | default:'' }}
        </div>
      </div>
      <aside class="col-md-4 col-lg-3 col-lg-offset-1">
        <div class="sidebar">
          <div class="block clearfix">
            <h3 class="title">Encuéntranos</h3>
            <div class="separator-2"></div>
            <ul class="list">
              <li><i class="fa fa-home pr-10"></i>{{ about.address | default:'' }}</li>
              <li><i class="fa fa-phone pr-10"></i>{{ about.phone | default:'' }}</li>
              <li><i class="fa fa-envelope pr-10"></i><a href="#">{{ about.email | default:'' }}</a></li>
            </ul>
            <a class="btn btn-gray collapsed map-show btn-animated" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">Mostrar Mapa <i class="fa fa-plus"></i></a>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
{% endblock content %}

{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSEDywziy5OfN1aKb91LYMcT4LP8BH6c8&signed_in=true&callback=initMap"async defer></script>
<script type="text/javascript" src="{% static 'js/sarec/contact.js' %}"></script>
{% endblock script %}
