{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}Dirección de Investigación | Universidad Nacional de Ingeniería{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="banner clearfix"><!--Contendedor del Banner Principal-->
  <div class="slideshow">
    <!-- Slider Revolution -->
    <div class="slider-banner-container">
      <div class="slider-banner-fullscreen">
        <ul class="slides">
          <!--Descripcion del Banner-->
          <!--Primera Presentacion-->
          <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Descripción del Banner">
            <img src="{% static 'img/slider-fullscreen-slide-1.jpg' %}" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
            <!-- Fondo Transparente -->
            <div class="tp-caption dark-translucent-bg"
              data-x="center"
              data-y="bottom"
              data-speed="500"
              data-easing="easeOutQuad"
              data-start="0">
            </div>
            <!-- Texto NR. 1 -->
            <div class="tp-caption sfr stl xlarge_white"
              data-x="center"
              data-y="70"
              data-speed="200"
              data-easing="easeOutQuad"
              data-start="1000"
              data-end="2500"
              data-splitin="chars"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-splitout="chars">Insipiración
            </div>
            <!-- Texto NR. 2 -->
            <div class="tp-caption sfl str xlarge_white"
              data-x="center"
              data-y="70"
              data-speed="200"
              data-easing="easeOutQuad"
              data-start="2500"
              data-end="4000"
              data-splitin="chars"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-splitout="chars">Innovación
            </div>
            <!-- Texto NR. 3 -->
            <div class="tp-caption sfr stt xlarge_white"
              data-x="center"
              data-y="70"
              data-speed="200"
              data-easing="easeOutQuad"
              data-start="4000"
              data-end="6000"
              data-splitin="chars"
              data-elementdelay="0.1"
              data-endelementdelay="0.1"
              data-splitout="chars"
              data-endspeed="400">Acciones
            </div>
            <!-- Texto NR. 4 -->
            <div class="tp-caption sft fadeout text-center large_white"
              data-x="center"
              data-y="70"
              data-speed="500"
              data-easing="easeOutQuad"
              data-start="6400"
              data-end="10000"><span class="text-default">UNI <span class="text-default">PROITIC</span></span> <br> Universidad Nacional de Ingeniería
            </div>
            <!-- Texto NR. 5 -->
            <div class="tp-caption sfr fadeout"
              data-x="center"
              data-y="210"
              data-hoffset="-232"
              data-speed="500"
              data-easing="easeOutQuad"
              data-start="1000"
              data-end="5500"><span class="icon large circle"><i class="circle icon-lightbulb"></i></span>
            </div>
            <!-- Texto NR. 6 -->
            <div class="tp-caption sfl fadeout"
              data-x="center"
              data-y="210"
              data-speed="500"
              data-easing="easeOutQuad"
              data-start="2500"
              data-end="5500"><span class="icon large circle"><i class="circle icon-arrows-ccw"></i></span>
            </div>
            <!-- Texto NR. 7 -->
            <div class="tp-caption sfr fadeout"
              data-x="center"
              data-y="210"
              data-hoffset="232"
              data-speed="500"
              data-easing="easeOutQuad"
              data-start="4000"
              data-end="5500"><span class="icon large circle"><i class="circle icon-chart-line"></i></span>
            </div>
            <!-- Texto NR. 8 -->
            <div class="tp-caption ZoomIn fadeout text-center tp-resizeme large_white"
              data-x="center"
              data-y="170"
              data-speed="500"
              data-easing="easeOutQuad"
              data-start="6400"
              data-end="10000"><div class="separator light"></div>
            </div>
            <!-- Texto NR. 9 -->
            <div class="tp-caption sft fadeout medium_white text-center"
              data-x="center"
              data-y="210"
              data-speed="500"
              data-easing="easeOutQuad"
              data-start="5800"
              data-end="10000"
              data-endspeed="600">Elaborar Proyectos de I+D+i y gestionar su financiamiento. <br> Planificar, Organizar y Gestionar actividades de formación en temas de I+D+i en su facultad <br> Divulgar lo concerniente al desarrollo de la investigación en su...
            </div>
            <!-- Texto NR. 10 -->
            <div class="tp-caption fade fadeout"
              data-x="center"
              data-y="bottom"
              data-voffset="100"
              data-speed="500"
              data-easing="easeOutQuad"
              data-start="2000"
              data-end="10000"
              data-endspeed="200">
              <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
            </div>
          </li>
          <!--Segunda Presentacion-->
          <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Descripción del Banner">
            <img src="{% static 'img/slider-fullscreen-slide-2.jpg' %}" alt="slidebg2" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
            <!-- Fondo Transparente -->
            <div class="tp-caption dark-translucent-bg"
              data-x="center"
              data-y="bottom"
              data-speed="500"
              data-easing="easeOutQuad"
              data-start="0">
            </div>
            <!-- Texto NR. 1 -->
            <div class="tp-caption sfb fadeout large_white"
              data-x="left"
              data-y="70"
              data-speed="500"
              data-start="1000"
              data-easing="easeOutQuad"
              data-end="10000"><span class="logo-font">Proyecto</span> <br> PROITIC
            </div>
            <!-- Texto NR. 2 -->
            <div class="tp-caption sfb fadeout text-left medium_white"
              data-x="left"
              data-y="200"
              data-speed="500"
              data-start="1300"
              data-easing="easeOutQuad"
              data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-laptop"></i></span> Tecnologia de la Información
            </div>
            <!-- Texto NR. 3 -->
            <div class="tp-caption sfb fadeout text-left medium_white"
              data-x="left"
              data-y="260"
              data-speed="500"
              data-start="1600"
              data-easing="easeOutQuad"
              data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-check"></i></span> Sistemas de Radio Comunicaciones
            </div>
            <!-- Texto NR. 4 -->
            <div class="tp-caption sfb fadeout text-left medium_white"
              data-x="left"
              data-y="320"
              data-speed="500"
              data-start="1900"
              data-easing="easeOutQuad"
              data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-gift"></i></span> Procesamiento de Señales
            </div>
            <!-- Texto NR. 5 -->
            <div class="tp-caption sfb fadeout text-left medium_white"
              data-x="left"
              data-y="380"
              data-speed="500"
              data-start="2200"
              data-easing="easeOutQuad"
              data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="icon-hourglass"></i></span> Consejo Científico UNI
            </div>
            <!-- Texto NR. 6 -->
            <div class="tp-caption sfb fadeout small_white"
              data-x="left"
              data-y="450"
              data-speed="500"
              data-start="2500"
              data-easing="easeOutQuad"
              data-endspeed="600"><a href="#" class="btn btn-default btn-lg btn-animated">Ver más <i class="fa fa-arrow-right"></i></a>
            </div>
          </li>
        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>
  </div>
</div>

<section class="section default-bg clearfix blue">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-action text-center">
          <div class="row">
            <div class="col-sm-8">
              <h3 class="mt-10 text-muted text-white no-margin-bottom no-margin-top">Observa nuestro campo de <strong>Lineas de Investigación</strong></h3>
            </div>
            <div class="col-sm-4">
              <p><a href="{% url 'lines.index' %}" class="btn btn-lg btn-gray-transparent btn-animated">Leer Mas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right pl-20"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-container padding-bottom-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="title">Misión Y Visión</h3>
        <p class="text-justify">{{ configurations_list.misionvision }}</p>
      </div>

      <div class="col-md-6 text-justify">
        <div class="col-xs-12 no-padding-left no-padding-right">
          <h3 class="title">Cooperación / Vinculación</h3>
          <p>{{ params.cooperation_list.description|safe|truncatechars:650 }}</p>
        </div>
        <div class="col-xs-12 no-padding-left no-padding-right">
          <a href="{% url 'projects.index' %}">Leer mas...</a>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>

{% if params.testimonys_list|length > 0 %}
  <section class="section pv-30">
    <div class="container">
      <h3 class="text-blue">¿Qué opinan de <strong>nosotros</strong>?</h3>
      <div class="separator-2"></div>
    </div>
    <div class="owl-carousel content-slider">
      {% for testimony in params.testimonys_list %}
          {% if forloop.counter < 10 %}
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="testimonial text-center">
                      <div class="testimonial-image">
                          {% if testimony.photo == "False" %}
                              <img style="height:90px;width:90px!important;" src="/media/testimony/none.png" alt="{{ testimony.name }}" title="{{ testimony.name }}" class="img-circle">
                          {% else %}
                              <img style="height:90px;width:90px!important;" src="media/{{ testimony.photo }}" alt="{{ testimony.name }}" title="{{ testimony.name }}" class="img-circle">
                          {% endif %}
                      </div>
                      <h3>{{ testimony.expression }}</h3>
                      <div class="separator"></div>
                      <div class="testimonial-body">
                        <blockquote>
                          <p>{{ testimony.testimony|truncatechars:230 }}</p>
                        </blockquote>
                        <div class="testimonial-info-1">{{ testimony.name }}</div>
                        <div class="testimonial-info-2">{{ testimony.profession }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          {% endif %}
      {% endfor %}
    </div>
  </section>
{% endif %}
<section class="section default-bg clearfix blue">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-action text-center">
          <div class="row">
            <div class="col-sm-8">
              <h3 class="mt-10 text-muted text-white">Observa nuestras distintas <strong>publicaciones</strong> acerca de nuestro trabajo y nuestras distintas <strong>áreas de investigación</strong>.</h3>
            </div>
            <div class="col-sm-4">
              <p><a href="/publicaciones/categorias/" class="btn btn-lg btn-gray-transparent btn-animated">Ver Mas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right pl-20"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-container no-padding-top no-padding-bottom">
  <div class="container clearfix">
    <div class="row">
      <div class="main col-md-12 margin-top-40">
        <h1 class="title text-center">Ultimas Publicaciones</h1>
        <div class="separator-2"></div>
        <div class="masonry-grid row" style="position: relative; height: 1733.17px;">
          {% for blog in params.blog_list %}
          <!-- masonry grid item start -->
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4" style="position: absolute; left: 0px; top: 1124px;">
              <!-- blogpost start -->
              <article class="blogpost shadow light-gray-bg bordered object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                <header>
                  <h2 class="text-center"><a href="/publicaciones/categorias/{{blog.categorys.slug}}/{{blog.slug}}">{{blog.title}}</a></h2>
                  <div class="post-info">
                    <span class="post-date">
                      <i class="icon-calendar"></i>
                      <span class="month">{{ blog.created_at|date }}</span>
                    </span>
                    <span class="submitted"><i class="icon-user-1"></i> Por <a href="/investigador/{{blog.owner.slug}}">{{ blog.owner.names }} {{ blog.owner.surnames }}</a></span>
                  </div>
                </header>
                <div class="blogpost-content">
                  {{blog.body|truncatechars:1000|safe}}
                </div>
                <footer class="clearfix">
                  <div class="link pull-right"><i class="icon-link"></i><a href="/publicaciones/categorias/{{blog.categorys.slug}}/{{blog.slug}}">Leer mas...</a></div>
                </footer>
              </article>
              <!-- blogpost end -->
            </div>
          {% endfor %}
          <!-- masonry grid item end -->

          <!-- masonry grid item end -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block script %}
{% endblock script %}
