{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}Dirección de Investigación | Universidad Nacional de Ingeniería{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<section class="full-width-section">
	<div class="full-image-container dark-bg border-bottom-clear">
		<img class="to-right-block" src="{{ MEDIA_URL }}{{ about.introductoryImage }}" alt="">
		<div class="full-image-overlay text-right" style="margin-top: -122px;">
			<h3>PROITIC</h3>
			<ul class="list-icons">
				<li>Tecnologia de la Información <i class="fa fa-check-square-o"></i></li>
				<li>Sistemas de Radio Comunicaciones <i class="fa fa-check-square-o"></i></li>
				<li>Procesamiento de Señales <i class="fa fa-check-square-o"></i></li>
				<li>Consejo Científico UNI <i class="fa fa-check-square-o"></i></li>
			</ul>
		</div>
	</div>
	<div class="full-text-container dark-bg border-bottom-clear">
		<h2 class="mt-4">Universidad Nacional De Ingeniería</h2>
		<div class="separator-2 hidden-lg-down"></div>
		<p>{{ about.introductoryText }}</p>
		<div class="separator-3 hidden-lg-down"></div>
		<a href="/contactenos" class="btn btn-gray-transparent btn-animated">Contactenos <i class="fa fa-envelope-o"></i></a>
	</div>
</section>

<section class="section default-bg clearfix blue">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-action text-center">
          <div class="row" style="display:flex;align-items: center">
            <div class="col-sm-8">
              <h3 class="mt-10 text-muted text-white no-margin-bottom no-margin-top">Observa nuestro campo de <strong>Lineas de Investigación</strong></h3>
            </div>
            <div class="col-sm-4">
              <p><a href="{% url 'lines.index' %}" class="btn btn-lg btn-gray-transparent btn-animated">Leer Mas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right pl-20"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-container padding-bottom-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="title">Misión Y Visión</h3>
        <p class="text-justify">{{ about.mission }}</p>
      </div>

      <div class="col-md-6 text-justify">
        <div class="col-xs-12 no-padding-left no-padding-right">
          <h3 class="title">Cooperación / Vinculación</h3>
          <p>{{ params.cooperation_list.description|safe|truncatechars:650 }}</p>
        </div>
        <div class="col-xs-12 no-padding-left no-padding-right">
          <a href="{% url 'projects.index' %}">Leer mas...</a>
        </div>
      </div>
    </div>
  </div>
  <br>
</section>

{% if params.testimonys_list|length > 0 %}
  <section class="section pv-30">
    <div class="container">
      <h3 class="text-blue">¿Qué opinan de <strong>nosotros</strong>?</h3>
      <div class="separator-2"></div>
    </div>
    <div class="owl-carousel content-slider">
      {% for testimony in params.testimonys_list %}
          {% if forloop.counter < 10 %}
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="testimonial text-center">
                      <div class="testimonial-image">
                          {% if testimony.photo == "False" %}
                              <img style="height:90px;width:90px!important;" src="/media/testimony/none.png" alt="{{ testimony.name }}" title="{{ testimony.name }}" class="img-circle">
                          {% else %}
                              <img style="height:90px;width:90px!important;" src="media/{{ testimony.photo }}" alt="{{ testimony.name }}" title="{{ testimony.name }}" class="img-circle">
                          {% endif %}
                      </div>
                      <h3>{{ testimony.expression }}</h3>
                      <div class="separator"></div>
                      <div class="testimonial-body">
                        <blockquote>
                          <p>{{ testimony.testimony|truncatechars:230 }}</p>
                        </blockquote>
                        <div class="testimonial-info-1">{{ testimony.name }}</div>
                        <div class="testimonial-info-2">{{ testimony.profession }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          {% endif %}
      {% endfor %}
    </div>
  </section>
{% endif %}
<section class="section default-bg clearfix blue">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-action text-center">
          <div class="row">
            <div class="col-sm-8">
              <h3 class="mt-10 text-muted text-white">Observa nuestras distintas <strong>publicaciones</strong> acerca de nuestro trabajo y nuestras distintas <strong>áreas de investigación</strong>.</h3>
            </div>
            <div class="col-sm-4">
              <p><a href="/publicaciones/categorias/" class="btn btn-lg btn-gray-transparent btn-animated">Ver Mas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right pl-20"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-container no-padding-top no-padding-bottom">
  <div class="container clearfix">
    <div class="row">
      <div class="main col-md-12 margin-top-40">
        <h1 class="title text-center">Ultimas Publicaciones</h1>
        <div class="separator-2"></div>
        <div class="masonry-grid row" style="position: relative; height: 1733.17px;">
          {% for blog in params.blog_list %}
          <!-- masonry grid item start -->
            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4" style="position: absolute; left: 0px; top: 1124px;">
              <!-- blogpost start -->
              <article class="blogpost shadow light-gray-bg bordered object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                <header>
                  <h2 class="text-center"><a href="/publicaciones/categorias/{{blog.categorys.slug}}/{{blog.slug}}">{{blog.title}}</a></h2>
                  <div class="post-info">
                    <span class="post-date">
                      <i class="icon-calendar"></i>
                      <span class="month">{{ blog.created_at|date }}</span>
                    </span>
                    <span class="submitted"><i class="icon-user-1"></i> Por <a href="/investigador/{{blog.owner.slug}}">{{ blog.owner.names }} {{ blog.owner.surnames }}</a></span>
                  </div>
                </header>
                <div class="blogpost-content">
                  {{blog.body|truncatechars:1000|safe}}
                </div>
                <footer class="clearfix">
                  <div class="link pull-right"><i class="icon-link"></i><a href="/publicaciones/categorias/{{blog.categorys.slug}}/{{blog.slug}}">Leer mas...</a></div>
                </footer>
              </article>
              <!-- blogpost end -->
            </div>
          {% endfor %}
          <!-- masonry grid item end -->

          <!-- masonry grid item end -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

{% block script %}
{% endblock script %}
