{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}Dirección de Investigación | Universidad Nacional de Ingeniería{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="breadcrumb-container breadcrumb-color">
  <div class="container ">
    <ol class="breadcrumb">
      <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="index.html">Inicio</a></li>
      <li class="active">Publicaciones </li>
    </ol>
  </div>
</div>


<section class="main-container">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">
              {% if params|length == 0 %}
                <div class="margin-top-40 margin-bottom-40 center-block">
                  <img src="/static/img/uni.png" class="img-responsive center-block" alt="" />
                  <h1 class="logo-font text-black text-center">No hemos podido encontrar publicaciones</h1>
                  <h1 class="logo-font text-black text-center">relacionadas a esta categoría</h1>
                </div>
              {% endif %}

              {% for blog in params|slice:":1" %}
                <h1 class="logo-font text-black text-center">{{blog.categorys.name}}</h1>
              {% endfor %}
							<div class="separator-2"></div>
							<!-- ================ -->
							<div class="masonry-grid row" style="position: relative; height: 1733.17px;">
                {% for blog in params %}
								<!-- masonry grid item start -->
  								<div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4" style="position: absolute; left: 0px; top: 1124px;">
  									<!-- blogpost start -->
  									<article class="blogpost shadow light-gray-bg bordered object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
  										<header>
  											<h2 class="text-center"><a href="/publicaciones/categorias/{{blog.categorys.slug}}/{{blog.slug}}">{{blog.title}}</a></h2>
  											<div class="post-info">
                          <span class="post-date">
                            <i class="icon-calendar"></i>
                            <span class="month">{{ blog.created_at|date }}</span>
                          </span>
  												<span class="submitted"><i class="icon-user-1"></i> Por <a href="/investigador/{{blog.owner.slug}}">{{ blog.owner.names }} {{ blog.owner.surnames }}</a></span>
  											</div>
  										</header>
  										<div class="blogpost-content">
  											{{blog.body|truncatechars:1000|safe}}
  										</div>
  										<footer class="clearfix">
  											<div class="link pull-right"><i class="icon-link"></i><a href="/publicaciones/categorias/{{blog.categorys.slug}}/{{blog.slug}}">Leer mas...</a></div>
  										</footer>
  									</article>
  									<!-- blogpost end -->
  								</div>
                {% endfor %}
								<!-- masonry grid item end -->

								<!-- masonry grid item end -->
							</div>
							<!-- masonry grid end -->

						</div>
						<!-- main end -->

					</div>
				</div>
			</section>

<!--
<div class="main-container padding-bottom-clear" style="padding-top:0px;">
  <section class="section default-bg clearfix blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="call-to-action text-center">
            <div class="row">
              <div class="col-sm-12">
                <h3 class="mt-10 text-muted text-white">Observa las distintos <strong>Publicaciones</strong> acerca de nuestro trabajo y nuestras distintas <strong>áreas de investigación</strong>.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="main-container col-md-12" style="padding-top:0px;">
        <div class="masonry-grid row">

            <div class="timeline clearfix" style="margin-top:0px;">
              {% for blog in params %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="timeline-item pull-right">
                  <article class="blogpost shadow light-gray-bg bordered object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                    <header>
                      <h2 class="text-center"><a href="/articulos/{{blog.slug}}">{{blog.title}}</a></h2>
                      <div class="post-info">
                        <span class="post-date">
                          <i class="icon-calendar"></i>
                          <span class="month">{{ blog.created_at|date }}</span>
                        </span>
                        <span class="submitted"><i class="icon-user-1"></i> Por <a href="/investigador/{{blog.owner.slug}}">{{ blog.owner.nombres }} {{ blog.owner.apellidos }}</a></span>
                      </div>
                    </header>
                    <div class="blogpost-content">
                      {{blog.body|truncatechars:1000|safe}}
                    </div>
                  </article>
                </div>
                {% else %}
                <div class="timeline-item">

                  <article class="blogpost shadow light-gray-bg bordered object-non-visible animated object-visible fadeInUpSmall" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                    <header>
                      <h2 class="text-center"><a href="/articulos/{{blog.slug}}">{{blog.title}}</a></h2>
                      <div class="post-info">
                        <span class="post-date">
                          <i class="icon-calendar"></i>
                          <span class="month">{{ blog.created_at|date }}</span>
                        </span>
                        <span class="submitted"><i class="icon-user-1"></i> Por <a href="/investigador/{{blog.owner.slug}}">{{ blog.owner.nombres }} {{ blog.owner.apellidos }}</a></span>
                      </div>
                    </header>
                    <div class="blogpost-content">
                      {{blog.body|truncatechars:1000|safe}}
                    </div>
                  </article>

                </div>
                {% endif %}
              {% endfor %}

            </div>

        </div>
      </div>
    </div>
  </div>

</div>

-->
{% endblock content %}

{% block script %}
{% endblock script %}
