{% extends 'config.html' %}
{% load staticfiles %}

{% block title %}Instituciones Vinculadas | Dirección de Investigación | Universidad Nacional de Ingeniería{% endblock title %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/sarec/trumbowyg.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sarec/trumbowyg.colors.min.css' %}">
{% endblock header %}

{% block breadcrumbs %} Cooperación / Vinculación {% endblock breadcrumbs %}

{% block titlepage %}Instituciones Vinculadas{% endblock titlepage %}
{% block description %}Modificar{% endblock description %}

{% block content %}
    <div class="row form-modify" style="display:none;">
      <div class="col-xs-12">
          <div class="clearfix">
              <div class="pull-left alert alert-success no-margin">
                  <button type="button" class="close" data-dismiss="alert">
                      <i class="ace-icon fa fa-times"></i>
                  </button>
                  <i class="ace-icon fa fa-umbrella bigger-120 blue"></i>
                  Haga clic en la imagen de abajo o en los campos de texto para cambiar los datos...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
          </div>
          <div class="hr dotted">
          </div>
          <form name="form-new-project" id="form-new-project" class="form-horizontal" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="tabbable">
                  <ul class="nav nav-tabs padding-16">
                      <li class="active">
                          <a data-toggle="tab" href="#edit-basic">
                              <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                              Información
                          </a>
                      </li>
                  </ul>
                  <div class="tab-content profile-edit-tab-content">
                      <div id="edit-basic" class="tab-pane in active">
                          <h4 class="header blue bolder smaller">General</h4>
                          <div class="row">
                              <div class="col-xs-12 col-sm-4">
                                <div class="center-block">
                                  <label class="ace-file-input ace-file-multiple">
                                    <input name="avatar" type="file" accept="image/gif, image/jpeg, image/png, image/jpg">
                                    <span class="profile-picture center-block" style="display:block!important;border: 0px solid #CCC;box-shadow: 0px 0px 0px rgba(0,0,0,.15);">
                                      <img id="avatarimage" name="avatarimage" class="center-block editable img-responsive editable-click editable-empty" src="{% static 'img/image.png' %}" style="max-height:160px;"></img>
                                    </span>
                                  </label>
                                  <div class="space-4"></div>
                                </div>
                              </div>
                              <div class="vspace-12-sm"></div>
                              <div class="col-xs-12 col-sm-8">
                                <div class="form-group hide">
                                  <div class="col-sm-8">
                                    <input class="col-xs-12 col-sm-10" autocomplete="off" type="hidden" id="id" name="id" placeholder="id" value="">
                                  </div>
                                </div>
                                  <div class="form-group">
                                      <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Nombre</label>
                                      <div class="col-sm-8">
                                          <input class="col-xs-12 col-sm-10" autocomplete="off" type="text" id="name" name="name" placeholder="Nombre de la institución" value="">
                                      </div>
                                  </div>
                                  <div class="space-4"></div>
                                  <div class="form-group">
                                      <label class="control-label col-sm-4 no-padding-right no-padding-top">Activo</label>
                                      <div class="col-xs-12 col-sm-8">
                                          <div>
                                              <label>
                                                  <input name="active" type="checkbox" class="ace">
                                                  <span class="lbl"> Si</span>
                                              </label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <hr>
                          <div class="space-4"></div>
                          <h4 class="header blue bolder smaller">Información</h4>
                          <div class="row">
                              <div class="col-xs-12">
                                  <textarea name="description" id="trumbowyg-demo"></textarea>
                              </div>
                          </div>
                          <div class="space-4"></div>
                      </div>
                  </div>
              </div>
              <div class="space-4"></div>
              <div class="space-4"></div>
              <div class="clearfix" id="message">
              </div>
              <div class="clearfix form-actions">
                  <div class="col-md-offset-3 col-md-9">
                      <i class="ace-icon fa fa-spinner fa-spin orange bigger-225 text-center hide load"></i>
                      <button class="btn btn-info" type="submit">
                          <i class="ace-icon fa fa-check bigger-110"></i>
                          Guardar
                      </button>
                      &nbsp; &nbsp;
                      <button class="btn" type="button" name="cancelar">
                          <i class="ace-icon fa fa-undo bigger-110"></i>
                          Cancelar
                      </button>
                  </div>
              </div>
          </form>
      </div>
    </div>

    <div class="row form-search">
        <div class="col-xs-12">
            <div class="table-header">
                Resultados para "Instituciones Vinculadas"
            </div>
            <div>
                <div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class="center sorting_disabled" rowspan="1" colspan="1" aria-label=""></th>
                                <th class="sorting hide" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Domain: activate to sort column ascending">Id</th>
                                <th class="sorting" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Domain: activate to sort column ascending">Nombre</th>
                                <th class="sorting" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Clicks: activate to sort column ascending">Activo</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label=""></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for institution in institution_model %}
                                <tr role="row" class="odd" name="{{ institution.id }}">
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace">
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                    <td class="hide">
                                        {{ institution.id }}
                                    </td>
                                    <td>
                                        {{ institution.name|truncatechars:85 }}
                                    </td>
                                    <td>
                                      {% if institution.active == True %}
                                          <span class="label label-sm label-info arrowed arrowed-righ">Activo</span>
                                      {% else %}
                                          <span class="label label-sm label-warning arrowed arrowed-righ">Inactivo</span>
                                      {% endif %}
                                    </td>
                                    <td>
                                        <div class="action-buttons">
                                            <a class="green" href="#">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog-message" class="hide">
    </div>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/sarec/trumbowyg.min.js' %}"></script>
    <script src="{% static 'js/sarec/trumbowyg.base64.min.js' %}"></script>
    <script src="{% static 'js/sarec/trumbowyg.colors.min.js' %}"></script>
    <script src="{% static 'js/sarec/trumbowyg.noembed.min.js' %}"></script>
    <script src="{% static 'js/sarec/trumbowyg.pasteimage.min.js' %}"></script>
    <script src="{% static 'js/sarec/trumbowyg.preformatted.min.js' %}"></script>
    <script src="{% static 'js/sarec/trumbowyg.upload.min.js' %}"></script>
    <script src="{% static 'js/sarec/highlight.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sarec/es.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sarec/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sarec/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sarec/jquery.dataTables.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sarec/maskedinput.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sarec/jquery.gritter.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sarec/ajax403.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sarec/modifyinstitution.js' %}"></script>
{% endblock script %}
