{% extends 'template.html' %}
{% load staticfiles %}

{% block title %}Perfiles | Dirección de Investigación | Universidad Nacional de Ingeniería{% endblock title %}

{% block header %}
{% endblock header %}

{% block breadcrumbs %} Cuentas de Usuario {% endblock breadcrumbs %}

{% block titlepage %}Usuarios{% endblock titlepage %}
{% block description %}Agregar Usuarios{% endblock description %}

{% block content %}
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/sarec/maskedinput.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sarec/jquery.gritter.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sarec/createprofile.js' %}"></script>
{% endblock script %}
