{% extends 'config.html' %}
{% load staticfiles %}
{% block title %}Investigadores | Dirección de Investigación | Universidad Nacional de Ingeniería{% endblock title %}

{% block header %}
{% endblock header %}

{% block breadcrumbs %} Acerca de {% endblock breadcrumbs %}

{% block titlepage %}Otros{% endblock titlepage %}

{% block description %}Acerca de{% endblock description %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <form class="form-horizontal" name="formAbout" method="post">
      {% csrf_token %}

      <div class="form-group" id="fgMision">
        <label for="txtMision" class="col-xs-3 control-label no-padding-right">Misión:</label>
        <div class="col-xs-9">
          <textarea id="mission" name="mission" class="col-xs-7" rows="5">{{ about.mission | default:'' }}</textarea>
        </div>
      </div>

      <div class="form-group" id="fgVision">
        <label for="txtMision" class="col-xs-3 control-label no-padding-right">Visión:</label>
        <div class="col-xs-9">
          <textarea id="vission" name="vission" class="col-xs-7" rows="5">{{ about.vission | default:'' }}</textarea>
        </div>
      </div>

      <div class="form-group" id="fgCorreo">
        <label for="txtCorreo" class="col-xs-3 control-label  no-padding-right">Correo:</label>
        <div class="col-xs-9">
          <span class="input-icon input-icon-right">
            <input type="email" id="email" name="email" class="input-large requerid" placeholder="usuario@gmail.com" value="{{ about.email | default:'' }}">
            <i class="ace-icon fa fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="form-group" id="fgTelefono">
        <label for="txtTelefono" class="col-xs-3 control-label  no-padding-right">Teléfono:</label>
        <div class="col-xs-9">
          <span class="input-icon input-icon-right">
            <input type="text" id="phone" name="phone" class="input-medium input-mask-phone requerid" placeholder="(505) 9999-9999" value="{{ about.phone | default:'' }}">
            <i class="ace-icon fa fa-phone fa-flip-horizontal"></i>
          </span>
        </div>
      </div>

      <div class="form-group" id="fgDireccion">
        <label for="txtAddress" class="col-xs-3 control-label no-padding-right">Dirección:</label>
        <div class="col-xs-9">
          <textarea id="address" name="address" class="col-xs-7" rows="5">{{ about.address | default:'' }}</textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="clearfix form-actions">
          <div class="col-xs-offset-3 col-md-9">
            <button type="submit" class="btn btn-success" id="btnGuardar">
              <i class="ace-icon fa fa-check bigger-110"></i>
              Guardar
            </button>

            <button type="reset" class="btn" id="btnReiniciar">
              <i class="ace-icon fa fa-undo bigger-110"></i>
              Reiniciar
            </button>
          </div>
        </div>
      </div>

    </form>
   </div>
 </div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="{% static 'js/sarec/maskedinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sarec/jquery.gritter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sarec/ajax403.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sarec/about.js' %}"></script>
{% endblock script %}
